body {
    font-family: arial;
    font-size: 13px;
}

nav li {
    list-style-type: none;
    display: inline;
    padding-right:  15px;
}

.header-right {
    position: absolute;
    top: -2px;
    right: 12px;
    
}

.header-left {
    position: absolute;
    top: 10px;
    left: -15px;
}

#appicon {
    height: 24px;
    width: auto;
    opacity: 0.75;
    position: relative;
    top: 7px;
}
header button {
    background: #4484f1;
    padding: 8px;
    font-size: 15px;
    color: #fff;
    border-radius: 10%;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    border: 1px;
    border-style: solid;
    border-color: #4484f1;
    border-radius: 2px;
}

nav li a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}
nav li a:hover {
    text-decoration: underline;
}

#appicon:hover {
    opacity: 1;
}

.logo {
    padding-top: 190px;
    margin-top: 10&;
    top: 200px;
    text-align: center
}

.search-box {
    width: 482px;
    height: 44px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
    border-radius: 75px;
    text-align: right;
}

.search-box:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#searchicon {
    height: 20px;
    width: 20px;
    margin-top: 13px;
    opacity: 40%;
    position: relative;
    left: -38px;
}

#voicesearch{
    height: 20px;
    width: auto;
    margin-top: 13px;
    position: relative;
    right: 20px;
}

#searchfield {
    width: 387px;
    border: none;
    height: 34px;
    margin-top: 8px;
    font-size: 16px;
    position: relative;
    bottom: 5px;
    left: -35px
    
}

.button {
    padding-top: 40px;
    text-align: center
}

.buttons {
    background-color: #f2f2f2;
    color: #5F6368;
    min-width: 54px;
    height: 36px;
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 4px;
}

.buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

.languages {
    text-align: center;
    padding-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
    width: 100%;
}
.country {
    padding-left: 0;
    font-size: 15px;
    opacity: 0.6;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.footer-right {
    position: absolute;
    bottom: 0;
    right: 15px;
}
/*


/* https://cdn0.iconfinder.com/data/icons/education-volume-1-3/48/14-512.png - magnifying glass
https://retohercules.com/images/google-voice-icon-png-1.png - microphone 

}
*/